<!DOCTYPE html>
<html>
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/login.css" type="text/css">

    <script src="libraries/js/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src="js/app.js"></script>
    <script src="js/directives/enter.js"></script>
    <script src="js/controllers/LoginController.js"></script>

    <title><%= title %></title>
</head>

<body ng-app="surgeApp" ng-controller="LoginController">
<div id="container">
    <div class="content">
        <form class="form-signin" action="/login" method="post">
            <h2 class="form-signin-heading text-center">Login</h2>

            <label for="username" class="sr-only">Username</label>
            <input type="text" name="username" id="username" class="form-control" width="60%" placeholder="Username" required autofocus>

            <label for="password" class="sr-only">Password</label>
            <input type="password" name="password" id="password" class="form-control" width="60%" placeholder="Password">
            <br>
            <button class="btn btn-lg btn-primary btn-block" width="60%" type="submit">Login</button>
        </form>
    </div>
</div>
</body>
</html>