<html>
<head>
    <link href="css/music.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src="js/angular-color-picker.js"></script>
    <script src="js/angular-toggle-switch.min.js"></script>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/directives/enter.js"></script>
    <script src="js/directives/longpress.js"></script>
    <script src="js/controllers/MusicController.js"></script>

</head>
<body ng-app="houseApp" ng-controller="MusicController">
<div class="searchHolder"> <span ng-show='lastFrame' ng-click="back()" style="color:white; font-size:20px">< Back</span>
<input type="text" ng-model="search" id="search" ng-enter="searchMusic()" class="search">
</div>
<div id="resultContainer">
<div ng-show="currentSong.playing">
    <h2>Now playing: </h2>
    <table class="table table-bordered table-striped">
        <tr>
            <td>{{currentSong.track.artist}}</td>
            <td>{{currentSong.track.title}}</td>
            <td>{{currentSong.track.album}}</td>
            <td>{{currentSong.track.durationMillis}}</td>
        </tr>
    </table>
    <audio ng-src={{currentSong.url}} controls autoplay>
    </audio>
</div>

<div ng-show="currentSong.playingExternal" >
    <h2>Now playing: </h2>
    <img width='400px' ng-src="{{currentSong.track.albumArtRef[0].url}}">

    <table class="resultTable">
        <tr>
            <td ng-click="killSong()">Stop</td>
            <td>{{currentSong.track.artist}}</td>
            <td>{{currentSong.track.title}}</td>
        </tr>
    </table>
    </br>
</div>
    <div id="artistContainer" ng-show="artist">
        <img ng-src="{{artistResult.artistArtRef}}">
        <br>
        <p>
            {{artistResult.artistBio}}
        </p>
        </br>
            <h2>Albums</h2>
            <span ng-repeat = "result in artistResult.albums">
                <img width='300px' title="{{result.name}}" ng-click="openAlbum(result.albumId)" ng-src="{{result.albumArtRef}}">
            </span>
        </br>
        <h2>Top Tracks</h2>
        <br>
        <table class="resultTable">
            <tr ng-repeat="result in artistResult.topTracks | filter: {track : '!' }" >
                <td ng-click="playExternal(artistResult.topTracks, result)">{{result.title}}</td>
            </tr>
        </table>
    </div>
    <div id="albumContainer" ng-show="album">
        <img ng-src="{{albumResult.albumArtRef}}">
        <br>
        <h2>Tracks</h2>
        <br>
        <table class="resultTable">
            <tr ng-repeat="result in albumResult.tracks | filter: {track : '!' }"
                ng-click="playExternal(albumResult.tracks, result)">
                <td>{{result.artist}}</td>
                <td>{{result.title}}</td>
            </tr>
        </table>
    </div>
    <div id="searchContainer" ng-show="general">

    <span style='float:left;' ng-click="artistContainer = !artistContainer">Show/Hide</span>
    <div ng-show="artistContainer">
        <h2>Artists</h2>
    <table class="resultTable">
        <tr ng-repeat="result in artists | filter: {album : '!' }" ng-click="openArtist(result)" >
            <td>{{result.artist.name}}</td>
        </tr>
    </table>
</div>
    </br>
    <span style='float:left;' ng-click="albumContainer = !albumContainer">Show/Hide</span>
    <div ng-show="albumContainer">
    <h2>Albums</h2>
     <span ng-repeat = "result in albums">
                <img width='300px' title="{{result.album.name}}" ng-click="openAlbum(result.album.albumId)"
                     ng-src="{{result.album.albumArtRef}}">
            </span>
</div>
    </br>

    <span style='float:left;' ng-click="trackContainer = !trackContainer">Show/Hide</span>

    <div ng-show="trackContainer">
    <h2>Tracks</h2>
<table class="resultTable">
    <tr ng-repeat="result in results | filter: {track : '!' }">
        <td ng-click="checkIP(result)">Play</td>
        <td ng-click="openArtist(result.track.artist)" >{{result.track.artist}}</td>
        <td ng-click="checkIP(result)">{{result.track.title}}</td>
    </tr>
</table>
</div>
</div>
    </div>
</body>
</html>